<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>

$(document).ready(function(){
	
	if(localStorage.getItem("userId") !=="" && localStorage.getItem("userId") !== null 
	&& localStorage.getItem("userId") !== undefined){
		window.location.replace("/books");
	}
	
	
	

});
function loginClick(){
	var data = {}
    data["username"] = $("#username").val();
    data["password"] = $("#password").val();
    if(data["username"]== null || data["username"] == undefined || data["username"] ==""|| data["username"].trim()=="" ||
	    	data["password"]== null || data["password"] == undefined || data["password"] ==""|| data["password"].trim()==""){
			$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>Fields Cannot be blank!</p>");
				$("#errorAlert").modal("show");
			return false;
		}
	$.ajax({
	    type:"post",
	    data: JSON.stringify(data),
	    url:"/api/login",
	    contentType: 'application/json',
	    success: function(result){
	       	localStorage.setItem("userId", result.id);
	       	localStorage.setItem("firstName", result.firstName);
	       	localStorage.setItem("lastName", result.lastName);
	       	localStorage.setItem("role", result.role);
	       //	window.location.replace("/");
	       window.location.href = "/books";
	    },error: function(err){
			$(".error").attr("style", "display:block;");
			localStorage.setItem("userId", "");
	       	localStorage.setItem("firstName", "");
	       	localStorage.setItem("lastName", "");
	       	localStorage.setItem("role", "");
		}
	});
	}
</script>

<body>

<!--Navbar-->
<nav th:replace="fragments/header :: nav"></nav>

<div class="container" style="padding-bottom:25px;">
    <div class="row">
        <div class="card col-6 mx-auto" style="width: 20rem; margin-top: 80px;">
        	<div class="error" style="display:none;">
        		<div class="alert alert-danger"> Invalid credentials</div>
        	</div>
        	<div th:if="${param.logout}">
        		<div class="alert alert-info"> You have been logged out</div>
        	</div>
            <div class="card-body">
                <h4 class="card-title">Login:</h4>
                   	<div class="form-group">
                   	<label class="control-label" for="username">Email</label>
                   	<input id="username"  type="email" class="form-control" required autofocus="autofocus"/>
                   	</div>
                   	
                   	<div class="form-group">
                   	<label class="control-label" for="password">Password</label>
                   	<input id="password"  type="password" class="form-control" required autofocus="autofocus"/>
                   	</div>
                   	
                    <button type="submit" onclick="loginClick();" class="btn btn-primary">Login</button>
                <p>New user?<a href="/register">Click here to register</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="errorAlert" role="dialog" aria-labelledby="successAlertLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align: center;padding:50px">
    	<i class="fa fa-times-circle  fa-5x" aria-hidden="true" style="color: red;"></i><br>
    	<span id="errorMsg"></span><br>
      	<button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
    </div>
  </div>
</div>
<span> '[[${#httpServletRequest.remoteUser}]]' </span>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>